{% extends 'base.html' %}
{% block content %}

<div class="container py-4 px-3 mx-auto">
    <h3>Thank you!</h3>
    <h3>Please <span style="text-decoration: underline;">DO NOT CLOSE</span> this window before you enter the 4 digits below.</h3>
    <h3>Please go back to the survey website and click the button saying <span style="color: #0a53be;">"Please click this button when you finish writing your comment."</span></h3>
    <h3>And enter the following <span style="text-decoration: underline;">4 DIGIT VALIDATION CODE</span> to proceed to the rest of the survey.</h3>
    <br>
    <h1><span style="color: #ff0000">0523</span></h1>
    <br>
</div>

{% endblock %}